name: Docker Image CI

permissions: {}

on:
  push:
    branches:
      - cortex-cli
  workflow_dispatch:
  
    
jobs:
  docker:
    runs-on: ubuntu-latest
    environment: Cortex
    env:
        CORTEX_API_KEY: ${{secrets.CORTEX_API_KEY}}
        CORTEX_API_KEY_ID: ${{secrets.CORTEX_API_KEY_ID}}
        CORTEX_API_URL: ${{secrets.CORTEX_API_URL}}

    steps:
    - name: Checkout
      uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5

    # checkov:skip=CKV_GHA_3: No secrets exposed
    # AppSec Code Scanning
    - name: Set up Node.js
      uses: actions/setup-node@d7a11313b581b306c961b506cfc8971208bb03f6
      with:
        node-version: 22

    - name: Verify Node.js Version
      run: node -v

    - name: Download cortexcli
      run: |
        set -x
        crtx_resp=$(curl "${CORTEX_API_URL}/public_api/v1/unified-cli/releases/download-link?os=linux&architecture=amd64" \
          -H "x-xdr-auth-id: ${CORTEX_API_KEY_ID}" \
          -H "Authorization: ${CORTEX_API_KEY}")
        crtx_url=$(echo $crtx_resp | jq -r ".signed_url")
        curl -o cortexcli $crtx_url
        chmod +x cortexcli
        ./cortexcli --version

    - name: Run Cortex CLI Code Scan
      run: |
        ./cortexcli \
          --api-base-url "${CORTEX_API_URL}" \
          --api-key "${CORTEX_API_KEY}" \
          --api-key-id "${CORTEX_API_KEY_ID}" \
          code scan \
          --directory "${{github.workspace}}" \
          --repo-id "${{github.repository}}" \
          --branch "${{github.ref_name}}" \
          --source "GITHUB_ACTIONS" \
          --create-repo-if-missing
    
    # Image scanning
    - name: Set env
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

    - name: Set up QEMU
      uses: docker/setup-qemu-action@49b3bc8e6bdd4a60e6116a5414239cba5943d3cf

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5

        
    - name: Build and Run Cortex CLI Image Scan
      run: |
        docker build -t ${{vars.IMAGE_NAME}}:latest .
        sudo ./cortexcli \
          --api-base-url "${CORTEX_API_URL}" \
          --api-key "${CORTEX_API_KEY}" \
          --api-key-id "${CORTEX_API_KEY_ID}" \
          image scan ${{vars.IMAGE_NAME}}:latest