name: Image Scan CortexCLI

permissions: {}

on:
  push:
    branches:
      - cortex-cli
  workflow_dispatch:
    
jobs:
  docker:
    runs-on: ubuntu-latest
    environment: Cortex
    env:
      CORTEX_API_KEY: ${{ secrets.CORTEX_API_KEY }}
      CORTEX_API_KEY_ID: ${{ secrets.CORTEX_API_KEY_ID }}
      CORTEX_API_URL: ${{ secrets.CORTEX_API_URL }}
      WAIT: ${{ vars.WAIT || 600 }}
      IMAGE_NAME: "${{ vars.IMAGE_NAME }}:latest"
      OUTPUT_FILE: ${{ vars.OUTPUT_FILE || 'image-results.json' }}

    steps:
    # Initial Setup
    - name: Checkout
      uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5

    - name: Download cortexcli
      run: |
        crtx_resp=$(curl -H "x-xdr-auth-id: ${CORTEX_API_KEY_ID}" -H "Authorization: ${CORTEX_API_KEY}" "${CORTEX_API_URL}/public_api/v1/unified-cli/releases/download-link?os=linux&architecture=amd64")
        crtx_url=$(echo $crtx_resp | jq -r ".signed_url")
        curl -o cortexcli $crtx_url
        chmod +x cortexcli
        ./cortexcli --version
    # Do AppSec Code Scanning
    - name: Set up Node.js
      uses: actions/setup-node@d7a11313b581b306c961b506cfc8971208bb03f6
      with:
        node-version: 22

    - name: Verify Node.js Version
      run: node -v
      
    - name: Run Cortex CLI Code Scan
      run: |
        ./cortexcli \
          --api-base-url "${CORTEX_API_URL}" \
          --api-key "${CORTEX_API_KEY}" \
          --api-key-id "${CORTEX_API_KEY_ID}" \
          code scan \
          --directory "${{github.workspace}}" \
          --repo-id "${{github.repository}}" \
          --branch "${{github.ref_name}}" \
          --source "GITHUB_ACTIONS" \
          --create-repo-if-missing \
          --output json \
          --output-file-path code-results.json
    
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: code-results
        path: code-results.json
  
    # Do CWP image scanning
    - name: CWP Image Scan Dependency
      run: sudo apt install libhyperscan5 jq -y
      
    - name: Set up QEMU
      uses: docker/setup-qemu-action@49b3bc8e6bdd4a60e6116a5414239cba5943d3cf

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5

    - name: Build Image and export image ID
      run: |
        docker build -t $IMAGE_NAME .
        image_id=$(docker inspect $IMAGE_NAME --format='{{.Id}}')
        echo "IMAGE_ID=$image_id" >> $GITHUB_ENV

        
    - name: Cortex CLI Image Scan
      run: |
        sudo ./cortexcli \
          --api-base-url "${CORTEX_API_URL}" \
          --api-key "${CORTEX_API_KEY}" \
          --api-key-id "${CORTEX_API_KEY_ID}" \
          --soft-fail \
          image scan \
          --timeout 600 \
          --name $IMAGE_NAME \
          $IMAGE_NAME

    - name: Check CortexCLI Error and Wait for results
      run: | 
        echo "Errors:"
        cat $HOME/.cortexcli/logs/cortexcli-*.log | grep "ERROR" || echo "No error found"
        echo "Waiting for Cortex to process image $IMAGE_NAME. Image Id: ${IMAGE_ID}"
        sleep ${WAIT}

    - name: Get Results
      run : |
        echo "Obtaining findings of image: $IMAGE_NAME. Image Id: $IMAGE_ID"
        start_response=$(curl -s -X POST -H "Content-Type: application/json" -H "Authorization: ${CORTEX_API_KEY}" -H "x-xdr-auth-id: ${CORTEX_API_KEY_ID}" "${CORTEX_API_URL}/public_api/v1/xql/start_xql_query" -d '
            {
                "request_data": {
                    "query": "dataset = uvm_findings | filter asset_name = \"'$IMAGE_ID'\""
                }
            }')
        query_id=$(echo "$start_response" | jq -r '.reply')

        if [[ "$query_id" == "null" || -z "$query_id" ]]; then
            echo "âŒ Failed to start XQL query. Response details:"
            echo "$start_response"
            exit 1
        fi

        echo "XQL Query started successfully. Query ID: ${query_id}"


        # Define initial status
        echo "Retrieving results for Query ID: ${query_id}. Waiting for completion (pending_flag=true)..."
        status="PENDING"

        while [[ "$status" == "PENDING" ]]; do
            # Execute API call to get results
            results_response=$(curl -s -X POST -H "Content-Type: application/json" -H "Authorization: ${CORTEX_API_KEY}" -H "x-xdr-auth-id: ${CORTEX_API_KEY_ID}" "${CORTEX_API_URL}/public_api/v1/xql/get_query_results" -d '
                {
                    "request_data": {
                        "query_id": "'$query_id'", 
                        "pending_flag": true, 
                        "limit": 100, 
                        "format": "json"
                    }
                }')
            status=$(echo "$results_response" | jq -r '.reply.status')
            sleep 10
        done

        echo "Retrieve results status: $status"
        # Print the full response for troubleshooting
        if [[ "$status" == "SUCCESS" ]]; then
          echo "$results_response" | jq '.reply.results.data' | jq 'map(.image_name = "'$IMAGE_NAME'")' > $OUTPUT_FILE
        fi

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: imagescan-results
        path: ${{ env.OUTPUT_FILE }}